<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <a href="/views/home.html"><div><img src="/styles/img/Gorillaz_logo.png" alt="Logo" width="150"></div></a>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
    </nav>
    <section class="gallery">
        <img src="/styles/img/Photo1.png">
        <img src="/styles/img/Photo2.png">
        <img src="/styles/img/Photo3.png">
        <img src="/styles/img/Photo4.png">
        <img src="/styles/img/Photo5.png">
        <img src="/styles/img/Photo6.png">
        <img src="/styles/img/Photo7.png">
        <img src="/styles/img/Photo8.png">
        <img src="/styles/img/Photo9.png">
        <img src="/styles/img/Photo10.png">
    </section>
</body>
</html>