<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <a href="/views/home.html"><div><img src="/styles/img/Gorillaz_logo.png" alt="Logo" width="150"></div></a>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card">
            <div class="perfil">
                <img src="/styles/img/2D.png" alt="2D" class="photo">
            </div>
            <div class="content">
            <div class="circle">
                <h2>2-D</h2>
            </div>
                <p>Stuart Pot, better known by his nickname 2-D, is the lead vocalist, keyboardist and frontman of Gorillaz.</p>
                <a href="https://gorillaz.fandom.com/wiki/2-D"><button class="btn fill">READ MORE</button></a>
            </div>
        </div>

        <div class="card">
            <div class="perfil">
                <img src="/styles/img/Noodles.png" alt="Noodles" class="photo">
            </div>
            <div class="content">
                <div class="circle">
                    <h2>Noodle</h2>
                </div>
                <p>ヌードル, better known as Noodle, is the official guitarist and former occasional backing vocalist of Gorillaz.</p>
                <a href="https://gorillaz.fandom.com/wiki/Noodle"><button class="btn fill">READ MORE</button></a>
            </div>
        </div>

        <div class="card">
            <div class="perfil">
                <img src="/styles/img/Russel.png" alt="Russel" class="photo">
            </div>
            <div class="content">
                <div class="circle">
                    <h2>Russel Hobbs</h2>
                </div>
                <p>Known for his good manners and eloquent speech, Russel Hobbs is the official drummer and percussionist of Gorillaz.</p>
                <a href="https://gorillaz.fandom.com/wiki/Russel"><button class="btn fill">READ MORE</button></a>
            </div>
        </div>

         <div class="card">
             <div class="perfil">
                 <img src="/styles/img/Murdoc.png" alt="Murdoc" class="photo">
                </div>
                <div class="content">
                <div class="circle">
                    <h2>Murdoc Niccals</h2>
                </div>
                <p>Murdoc Alphonce "Faust" Niccals is the official bass player, self-proclaimed leader and founder of Gorillaz.</p>
                <a href="https://gorillaz.fandom.com/wiki/Murdoc"><button class="btn fill">READ MORE</button></a>
            </div>
        </div>

</body>
</html>