<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramore</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<body>

      <nav>
      <ul class="menu">
            <li><a href="/views/home.html">Home</a></li>
            <li><a href="/views/about.html">About Us</a></li>
            <a href="/views/home.html"><div><img src="/styles/img/Gorillaz_logo.png" alt="Logo" width="150"></div></a>
            <li><a href="/views/works.html">Works</a></li>
            <li><a href="/views/gallery.html">Photo Gallery</a></li>
      </ul>
    </nav>
  <div>
      <img class="background" src="../images/bg.jpg" alt="background">
      <img class="logo" src="../images/logo.png" alt="logo"> 
  </div>
    {{{ body }}}

</body>

</html>