<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/views/home.html">Home</a></li>
            <li><a href="/views/about.html">About Us</a></li>
            <a href="/views/home.html"><div><img src="/styles/img/Gorillaz_logo.png" alt="Logo" width="150"></div></a>
            <li><a href="/views/works.html">Works</a></li>
            <li><a href="/views/gallery.html">Photo Gallery</a></li>
        </ul>
    </nav>

    <section>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-a">
                        <h1>Demon<br>Days</h1>
                        <div class="card-back">
                            <a href="#">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-b">
                        <h1><br>Gorillaz</h1>
                        <div class="card-back">
                            <a href="#">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="cover item-c">
                    <h1>Plastic<br>Beach</h1>
                    <div class="card-back">
                        <a href="#">Play Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="cover item-d">
                    <h1>Cracker<br>Island</h1>
                    <div class="card-back">
                        <a href="#">Play Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

</body>
</html>